body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #747704;
}

.text-muted{
	color: #BCBBBB;
}

.text-thin{
	font-weight: 100;
	color: #747704;
}

.title-super{
	font-size: 50px;
}

.title-logo{
	margin-top: 20px;
}

hr {
	border: 0;
	width: 100%;
	background-color: #BCBBBB;
	color: #BCBBBB;
	height: 3px;
	margin-bottom: 30px;
}

.img-container {
    margin-right: auto;
    margin-left: auto;
}

/***************** media queries **********************/

@media only screen and (max-width:500px){
    body{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: black;
        background-color: #e3e3e3;
    }
    .title-logo{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;

    }

    .title-super{
        font-size: 40px;
        font-weight: 300;
        color: black;
        text-align: center;
    }

    .text-secondary {
        text-align: center;
    }

    .text-muted{
        color: black;
        text-align: center;
    }
}

.text-secondary {

}